$white:#fff;
$brown:#C5A451;
$font-roboto:'Roboto',
sans-serif;
$light-black: #848484;
$font-helvetica: "Helvetica";
$light-grey: #828282;
$grey1: #BDBDBD;
$blue: #2F80ED;
$black: #4F4F4F;
$black1: #000;
$font500: 500;
$grey: #F3F3F7;
$light-blue:#9198B1;
$light-white: #E2E5EC;
$font-awesome: "font awesome 5 free";
$grey2:#68696D;
$grey-light: #f2f2f2;
$black2:#212529;
@font-face {
    font-family: "Helvetica";
    src: url(../fonts/Helvetica.ttf) format("truetype");
    src: url(../fonts/Helvetica.woff2) format("woff2");
    src: url(../fonts/Helvetica.woff) format("woff");
}

@mixin background($imgpath:url(../images/login-bg.jpg), $position:center top, $repeat: no-repeat) {
    background: {
        image: $imgpath;
        position: $position;
        repeat: $repeat;
    }
}

@mixin icon {
    padding: 10px;
    border-radius: 50%;
    color: $grey2;
    background: $light-white;
    margin-right: 5px;
}

@mixin btn-char {
    padding: 0.3rem 1rem;
    display: block;
    width: 100%;
}

@mixin input-text {
    color: $grey1;
    font-family: $font-roboto;
}

@mixin input-text1 {
    color: $light-grey;
    font-family: $font-helvetica;
    font-size: 14px;
}