                                        @import "../dist/fonts/scss/fontawesome.scss";
                                        @import "../dist/fonts/scss/solid.scss";
                                        @import "../dist/fonts/scss/brands.scss";
                                        @import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
                                        @import "utilities";
                                        @import "../bootstrap/scss/bootstrap";
                                        @font-face {
                                            font-family: 'Glyphicons Halflings';
                                            src: url('../dist/fonts/glyphicons-halflings-regular.eot');
                                            src: url('../dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../dist/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
                                        }
                                        
                                        a:hover {
                                            text-decoration: none;
                                        }
                                        
                                        .login {
                                            padding: 5.3125rem 0 0 0;
                                            @include background;
                                            background-size: cover;
                                            min-height: 796px;
                                            & .login-logo {
                                                @include background(url(../images/logo.png),
                                                center);
                                                height: 191px;
                                            }
                                            & .logo-text {
                                                line-height: 30px;
                                                color: $white;
                                                font: {
                                                    family: $font-helvetica;
                                                    size: 26px;
                                                }
                                                text: {
                                                    align: center;
                                                    transform: uppercase;
                                                }
                                            }
                                        }
                                        
                                        .login-form {
                                            width: 100%;
                                            line-height: 2rem;
                                            padding: 13.75rem 0 0 0;
                                            font: {
                                                family: $font-roboto;
                                            }
                                            & label {
                                                padding-left: 12px;
                                                color: $light-grey;
                                                line-height: 19px;
                                                font: {
                                                    weight: 500;
                                                }
                                            }
                                            & h1 {
                                                font-size: 48px;
                                                margin-bottom: 2rem;
                                            }
                                        }
                                        
                                        .form-group {
                                            position: relative;
                                            & .form-control {
                                                border: 1px solid $black;
                                                border-radius: 4px;
                                                padding: 1.5rem 0.75rem;
                                                margin-bottom: 2rem;
                                                color: $black1;
                                                font-weight: 500;
                                                &:focus {
                                                    border-color: $blue;
                                                    box-shadow: none;
                                                }
                                            }
                                        }
                                        
                                        .btn-brown {
                                            background: $brown;
                                            padding: 0.3rem 6rem;
                                            border-color: transparent;
                                            font-family: $font-roboto;
                                            &:hover {
                                                color: $white;
                                                background-color: $brown;
                                                border-color: transparent;
                                            }
                                            >a {
                                                color: #fff;
                                            }
                                        }
                                        
                                        .small-text a {
                                            color: $brown;
                                            font-weight: 500;
                                            font-size: 1rem;
                                        }
                                        
                                        .pswd i {
                                            color: $light-black;
                                            cursor: pointer;
                                        }
                                        
                                        .input-group-text {
                                            background-color: transparent;
                                        }
                                        
                                        .field-icon {
                                            float: right;
                                            position: absolute;
                                            z-index: 2;
                                            right: 1rem;
                                            top: 3rem;
                                        }
                                        
                                        .profile-details {
                                            .portfolio-item {
                                                .form-group {
                                                    margin: 0;
                                                }
                                            }
                                            label {
                                                color: $light-grey;
                                                margin-bottom: 0;
                                            }
                                            .form-control-plaintext {
                                                color: $black1;
                                            }
                                            option {
                                                line-height: 2rem;
                                            }
                                        }
                                        
                                        .dashboard {
                                            & .list-group-item {
                                                font-size: 0.80rem;
                                                >i {
                                                    @include icon;
                                                    color: $light-blue;
                                                }
                                            }
                                        }
                                        
                                        .new-profile {
                                            >i {
                                                @include icon;
                                            }
                                            .list-group {
                                                flex-direction: row;
                                                justify-content: center;
                                            }
                                            .list-group-item {
                                                margin: 0 10px;
                                            }
                                            select {
                                                @include input-text1;
                                            }
                                            input.form-control {
                                                &::-webkit-input-placeholder {
                                                    @include input-text1;
                                                }
                                                &:-ms-input-placeholder {
                                                    @include input-text1;
                                                }
                                                &::-moz-placeholder {
                                                    @include input-text1;
                                                }
                                                &:-moz-placeholder {
                                                    @include input-text1;
                                                }
                                                &::placeholder {
                                                    @include input-text1;
                                                }
                                            }
                                        }
                                        
                                        input.form-control {
                                            &::-webkit-input-placeholder {
                                                @include input-text;
                                            }
                                            &:-ms-input-placeholder {
                                                @include input-text;
                                            }
                                            &::-moz-placeholder {
                                                @include input-text;
                                            }
                                            &:-moz-placeholder {
                                                @include input-text;
                                            }
                                            &::placeholder {
                                                @include input-text;
                                            }
                                        }
                                        
                                        .form-text {
                                            margin-top: -1.5rem;
                                        }
                                        
                                        form {
                                            width: 100%;
                                        }
                                        
                                        .nav-head {
                                            & .form-inline .form-control {
                                                width: 100%;
                                                padding-left: 3rem;
                                            }
                                            .has-search .form-control-feedback {
                                                position: absolute;
                                                z-index: 2;
                                                display: block;
                                                width: 2.375rem;
                                                height: 2.375rem;
                                                line-height: 2.375rem;
                                                text-align: center;
                                                pointer-events: none;
                                                color: $black;
                                                padding-left: 1rem;
                                            }
                                            & .navbar-nav .nav-link {
                                                color: $black1;
                                                font-weight: $font500;
                                            }
                                        }
                                        
                                        .bg-admin {
                                            background: $grey;
                                            height: 100%;
                                            font-family: $font-roboto;
                                            overflow: overlay;
                                        }
                                        
                                        .navbar-white {
                                            background: $white;
                                        }
                                        
                                        .portfolio-menu {
                                            .breadcrumb {
                                                background-color: transparent;
                                                padding: 0rem 0;
                                                color: $black2;
                                                font-weight: 500;
                                                & li a {
                                                    color: $black2;
                                                }
                                                & .breadcrumb-item.active {
                                                    color: $black2;
                                                }
                                                & .breadcrumb-item+.breadcrumb-item::before {
                                                    font-family: "Font Awesome 5 Free";
                                                    font-weight: 900;
                                                    content: "\f531";
                                                    color: $black2;
                                                }
                                            }
                                            & ul li {
                                                display: inline-block;
                                                margin: 0;
                                                list-style: none;
                                                padding: 10px 15px;
                                                cursor: pointer;
                                                transition: all .5 ease;
                                                font-weight: 500;
                                                font-size: 14px;
                                                color: $light-grey;
                                            }
                                            & ul {
                                                padding: 0;
                                                display: inline-block;
                                            }
                                            & ul li:hover {
                                                color: $black1;
                                            }
                                            & ul li.active {
                                                color: $black1;
                                                font-size: 1rem;
                                            }
                                            & ul li.active::after {
                                                border-bottom: 2px solid $brown;
                                                border-radius: 8px;
                                                content: '';
                                                display: block;
                                            }
                                            & .btn-brown {
                                                float: right;
                                                padding: .375rem .75rem;
                                            }
                                            & h4 {
                                                font-size: 1.2rem;
                                                font-family: $font-helvetica;
                                                font-weight: bold;
                                                >a {
                                                    color: $black1;
                                                }
                                            }
                                            & h4 i {
                                                margin-right: 1rem;
                                                color: rgba(0, 0, 0, 0.54);
                                            }
                                        }
                                        
                                        .portfolio-item {
                                            font-family: $font-helvetica;
                                            margin: 20px auto;
                                            .form-group {
                                                position: relative;
                                                margin-bottom: 1.75rem;
                                                margin-top: 1rem;
                                            }
                                            .form-control-placeholder {
                                                position: absolute;
                                                top: 0;
                                                padding: 13px 0 0 5px;
                                                transition: all 200ms;
                                                opacity: 0.5;
                                            }
                                            .f-search {
                                                padding: 8px 0 0 22px;
                                            }
                                            .form-control:focus+.f-search,
                                            .form-control:valid+.f-search {
                                                padding-left: 0rem;
                                                padding-bottom: 0.5rem;
                                            }
                                            .form-control:focus+.form-control-placeholder,
                                            .form-control:valid+.form-control-placeholder {
                                                font-size: 75%;
                                                transform: translate3d(0, -100%, 0);
                                                opacity: 1;
                                                background: transparent;
                                            }
                                            h5 {
                                                font-weight: bold;
                                            }
                                            label {
                                                font-size: 14px;
                                            }
                                            & .card-img-top {
                                                width: 50%;
                                                border-radius: 50%;
                                                margin: auto;
                                                display: block;
                                            }
                                            & .card {
                                                padding-top: 15px;
                                                button i {
                                                    color: $light-blue;
                                                }
                                                & .card-body {
                                                    padding: 1rem 1.25rem;
                                                    & .card-title {
                                                        margin-bottom: 0rem;
                                                        text-align: center;
                                                        font-weight: bold;
                                                        color: $black1;
                                                        font-size: 1rem;
                                                    }
                                                    & .btn:focus,
                                                    & .btn.focus {
                                                        box-shadow: none;
                                                    }
                                                    & .dropdown-item.active,
                                                    & .dropdown-item:active {
                                                        background: $light-blue;
                                                    }
                                                    & .dropdown-item {
                                                        font-size: 14px;
                                                        >a {
                                                            color: #212529;
                                                        }
                                                    }
                                                    & .dropdown-menu {
                                                        min-width: 7rem;
                                                        padding: 0;
                                                        margin-top: 0.75rem;
                                                    }
                                                    & .dropdown-divider {
                                                        margin: 0;
                                                    }
                                                }
                                            }
                                            & .list-group-item {
                                                border: none;
                                                padding: .75rem 0 0;
                                                font-family: $font-helvetica;
                                                >a>i {
                                                    @include icon;
                                                }
                                            }
                                            #box {
                                                position: relative;
                                                z-index: 1;
                                                >i {
                                                    position: absolute;
                                                    z-index: 1;
                                                    background: transparent;
                                                    padding: 15px 10px;
                                                    color: #fff;
                                                    right: 0;
                                                    ;
                                                }
                                                .icon i {
                                                    font-family: $font-awesome;
                                                    color: #fff;
                                                }
                                                .icon i::before {
                                                    position: absolute;
                                                }
                                                &.grey-out::before,
                                                &.grey-out::after {
                                                    content: '';
                                                    position: absolute;
                                                    top: 0;
                                                    right: 0;
                                                    border-top: 70px solid $grey1;
                                                    border-left: 70px solid transparent;
                                                }
                                                &:hover {
                                                    border: 1px solid #E0E0E0;
                                                    box-sizing: border-box;
                                                    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
                                                    border-radius: 4px;
                                                    transition: all .3s ease;
                                                }
                                                .card {
                                                    &.profile {
                                                        padding: 40px 0 40px 40px;
                                                    }
                                                    form {
                                                        .form-group .form-control {
                                                            border: 1px solid $grey1;
                                                            margin-bottom: 1rem;
                                                        }
                                                        .form-control[readonly] {
                                                            background-color: $grey-light;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        
                                        .new-profile {
                                            & .card-img-top {
                                                width: 70%;
                                            }
                                            hr {
                                                margin-top: 0.50rem;
                                            }
                                            & .portfolio-item {
                                                #box:hover {
                                                    box-shadow: none;
                                                    border: none;
                                                }
                                                .user-icon {
                                                    display: block;
                                                    margin: 11px auto 0;
                                                    text-align: center;
                                                    border: 1px solid transparent;
                                                    border-radius: 50%;
                                                    padding: 43px 0;
                                                    width: 70%;
                                                    background: rgba(0, 0, 0, 0.54);
                                                    color: #fff;
                                                }
                                                .card-title>a {
                                                    color: $light-grey;
                                                    >i {
                                                        @include icon;
                                                    }
                                                }
                                                .form-control {
                                                    padding: 0rem 0.75rem;
                                                    height: 3rem;
                                                }
                                            }
                                        }
                                        
                                        .btn-enable {
                                            background: #C5A451;
                                            margin-top: 3rem;
                                            @include btn-char;
                                        }
                                        
                                        .btn-disable {
                                            background: rgba(197, 164, 81, 0.5);
                                            margin-top: 3rem;
                                            @include btn-char;
                                            pointer-events: none;
                                        }
                                        
                                        .btn-del {
                                            @include btn-char;
                                            margin-top: 1rem;
                                            color: $brown;
                                            background: transparent;
                                            border: 1px solid $brown;
                                        }
                                        
                                        #box::before,
                                        #box::after {
                                            content: '';
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            border-top: 70px solid #223A76;
                                            border-left: 70px solid transparent;
                                        }
                                        
                                        .wrap-admin {
                                            margin: 50px 0 0;
                                        }
                                        
                                        .multiselect-native-select {
                                            position: relative;
                                        }
                                        
                                        .multiselect-container {
                                            position: absolute;
                                            list-style-type: none;
                                            margin: 0;
                                            padding: 0;
                                            .input-group {
                                                margin: 5px;
                                            }
                                            li {
                                                padding: 0;
                                                .multiselect-all {
                                                    label {
                                                        font-weight: 700;
                                                    }
                                                }
                                                a {
                                                    padding: 0;
                                                    label {
                                                        margin: 0;
                                                        height: 100%;
                                                        cursor: pointer;
                                                        font-weight: 400;
                                                        padding: 3px 20px 3px 40px;
                                                        input[type=checkbox] {
                                                            margin-bottom: 5px;
                                                        }
                                                    }
                                                    label.radio {
                                                        margin: 0;
                                                    }
                                                    label.checkbox {
                                                        margin: 0;
                                                    }
                                                }
                                            }
                                            li.multiselect-group {
                                                label {
                                                    margin: 0;
                                                    padding: 3px 20px 3px 20px;
                                                    height: 100%;
                                                    font-weight: 700;
                                                }
                                            }
                                            li.multiselect-group-clickable {
                                                label {
                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                        
                                        .btn-group {
                                            .btn-group {
                                                .multiselect.btn {
                                                    border-top-left-radius: 4px;
                                                    border-bottom-left-radius: 4px;
                                                }
                                            }
                                        }
                                        
                                        .form-inline {
                                            .multiselect-container {
                                                label.checkbox {
                                                    padding: 3px 20px 3px 40px;
                                                }
                                                label.radio {
                                                    padding: 3px 20px 3px 40px;
                                                }
                                                li {
                                                    a {
                                                        label.checkbox {
                                                            input[type=checkbox] {
                                                                margin-left: -20px;
                                                                margin-right: 0;
                                                            }
                                                        }
                                                        label.radio {
                                                            input[type=radio] {
                                                                margin-left: -20px;
                                                                margin-right: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        
                                        .fs-wrap {
                                            width: 100% !important;
                                            margin-top: 1rem;
                                            .fs-label-wrap {
                                                width: 100%;
                                                .fs-search {
                                                    >i {
                                                        position: absolute;
                                                        left: 0px;
                                                        top: 0;
                                                        z-index: 1;
                                                        padding: 0.45rem 0.45rem;
                                                    }
                                                    input {
                                                        padding-left: 1.5rem;
                                                    }
                                                }
                                                .fs-label {
                                                    padding: 1rem 0.75rem;
                                                    height: 2rem;
                                                    color: #BDBDBD;
                                                }
                                            }
                                            .fs-dropdown {
                                                width: 100%;
                                            }
                                            .fs-option {
                                                border-bottom: none;
                                                padding: 0.75rem;
                                            }
                                        }
                                        
                                        .fs-wrap.multiple {
                                            .fs-option {
                                                padding-left: 8px !important;
                                            }
                                            .fs-option.selected {
                                                .fs-checkbox {
                                                    >i {
                                                        background-color: #223a76 !important;
                                                        width: 18px;
                                                        height: 18px;
                                                    }
                                                }
                                            }
                                            .fs-checkbox {
                                                right: 0;
                                                left: auto !important;
                                            }
                                        }
                                        
                                        @media screen and (max-width: 1024px) {}
                                        
                                        @media screen and (max-width: 640px) {}